@page
@model ChangePasswordModel
@{
	ViewData["Title"] = "Change password";
}

<h4>@ViewData["Title"]</h4>
<tag_partial name="_StatusMessagePartial" model="@Model.StatusMessage" />
<div class="row">
	<div class="col-md-6">
		<tag_form method="post">
			<tag_div asp-validation-summary="All" class="text-danger"></tag_div>
			<div class="form-group">
				<tag_label asp-for="PasswordForm.OldPassword"></tag_label>
				<tag_input asp-for="PasswordForm.OldPassword" class="form-control" />
				<tag_span asp-validation-for="PasswordForm.OldPassword" class="text-danger"></tag_span>
			</div>
			<div class="form-group">
				<tag_label asp-for="PasswordForm.NewPassword"></tag_label>
				<tag_input asp-for="PasswordForm.NewPassword" class="form-control" />
				<tag_span asp-validation-for="PasswordForm.NewPassword" class="text-danger"></tag_span>
			</div>
			<div class="form-group">
				<tag_label asp-for="PasswordForm.ConfirmPassword"></tag_label>
				<tag_input asp-for="PasswordForm.ConfirmPassword" class="form-control" />
				<tag_span asp-validation-for="PasswordForm.ConfirmPassword" class="text-danger"></tag_span>
			</div>
			<input type="submit" class="btn btn-success" value="Save" />
		</tag_form>
	</div>
</div>

@section Scripts {
	<tag_partial name="_ValidationScriptsPartial" />
}
