@model NewsCardViewModel
<div class="card" style="width:16rem;">
	<div class="card-body">
		<h5 class="card-title text-info text-center">@Model.Title</h5>
		<h6 class="card-subtitle mb-2 text-muted text-center text-info">@Model.Date</h6>
		<p class="card-text text-justify">@Model.Content</p>
	</div>
</div>
