@page
@model RegistrationSuccessModel
@{
	ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
	<p>We sent an email with a confirmation link to the given email address. Follow the link to activate your account</p>
</div>
