@page
@model ResetPasswordModel
@{
	ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<h4>Reset your password.</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<tag_form method="post">
			<tag_div asp-validation-summary="All" class="text-danger"></tag_div>
			<tag_input asp-for="ResetForm.Code" type="hidden" />
			<div class="form-group">
				<tag_label asp-for="ResetForm.Email"></tag_label>
				<tag_input asp-for="ResetForm.Email" class="form-control" />
				<tag_span asp-validation-for="ResetForm.Email" class="text-danger"></tag_span>
			</div>
			<div class="form-group">
				<tag_label asp-for="ResetForm.Password"></tag_label>
				<tag_input asp-for="ResetForm.Password" class="form-control" />
				<tag_span asp-validation-for="ResetForm.Password" class="text-danger"></tag_span>
			</div>
			<div class="form-group">
				<tag_label asp-for="ResetForm.ConfirmPassword"></tag_label>
				<tag_input asp-for="ResetForm.ConfirmPassword" class="form-control" />
				<tag_span asp-validation-for="ResetForm.ConfirmPassword" class="text-danger"></tag_span>
			</div>
			<button type="submit" class="btn btn-success">Reset</button>
		</tag_form>
	</div>
</div>

@section Scripts {
	<tag_partial name="_ValidationScriptsPartial" />
}
