@page
@model AboutModel
@{
	ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Med helper is a web app made to be used both by hospitals and the general publid. It is still in development. This is a demo and for the techies this might be considered an Alpha version :)</p>

<p>Design made using Bootstrap and Font Awesome</p>
<p>Made by George Anastasov </p>
