@page
@model ContactModel
@{
	ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
	<strong>Support:</strong> <a href="mailto:Support@medhelper.com">Support@medhelper.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@medhelper.com">Marketing@medhelper.com</a>
</address>
