@model FacilityCreateBindingModel
@{
	ViewData["Title"] = "Create Facility";
}
<h2>@ViewData["Title"]</h2>
<tag_partial name="_StatusMessage" model="@ViewData["Error"]" />
<form method="post">
	<div class="form-group">
		<tag_label asp-for="Name"></tag_label>
		<tag_input class="form-control" asp-for="Name" />
		<tag_span class="text-danger" asp-validation-for="Name"></tag_span>
	</div>
	<div class="form-row">
		<div class="form-group col-6">
			<tag_label asp-for="OpeningTime"></tag_label>
			<tag_input class="form-control" asp-for="OpeningTime" />
			<tag_span class="text-danger" asp-validation-for="OpeningTime"></tag_span>
		</div>
		<div class="form-group col-6">
			<tag_label asp-for="ClosingTime"></tag_label>
			<tag_input class="form-control" asp-for="ClosingTime" />
			<tag_span class="text-danger" asp-validation-for="ClosingTime"></tag_span>
		</div>
	</div>
	<input class="btn btn-success offset-11" type="submit" value="Add" />
</form>

@section Scripts {
	<tag_partial name="_ValidationScriptsPartial" />
}
